name: Unipass Checker

on:
  schedule:
    - cron: "0 2 * * *"    # KST 11:00
    - cron: "0 13 * * *"   # KST 22:00
  workflow_dispatch:
  
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install Requirements
        run: pip install -r requirements.txt
      
      - name: Run Unipass Checker
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
        run: python unipass_check.py
